<h1><%= @material.description.capitalize %></h1>
<div>
   <%= @material.amount %>
</div>

<div>
   <%= @material.location %>
</div>

<div>
  <% if @material.price == 0 %>
    <p>free</p>
  <% else %>
    <%= @material.price %>
  <% end %>
</div>

<%= link_to "Back to the materials", material_index_path %>
