<h1>Let's get rid of some stuff</h1>

<%= simple_form_for @offer, url: offer_index_path do |f| %>
  <%= f.association :material, as: :select,  prompt: "Choose a material" %>
  <%= f.input :description, placeholder: "Some flatten boxes..."  %>
  <%= f.input :amount, placeholder: "0" %>
  <%= f.input :unit, collection: %w[kg ton cm m un], hint: "Measure unit" %>
  <%= f.input :location, placeholder: " R. Mourato Coelho, 1112" %>
  <%= f.input :price, input_html: { value: '0' } %>
  <%= f.submit "add your offer", class: "btn btn-dark btn-block" %>
<% end %>

