<h1>Let's create your ad</h1>

<%= simple_form_for @offer, url: offer_index_path do |f| %>
  <%= f.input :description %>
  <%= f.input :amount %>
  <%= f.input :unit, collection: %w[kg ton cm m], as: :select %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.submit "add your offer" %>
<% end %>

