<h1><%= @offer.description.capitalize %></h1>
<div>
   <%= @offer.amount %>
   <%= @offer.unit %>
</div>

<div>
   <%= @offer.location %>
</div>

<div>
  <% if @offer.price == 0 %>
    <p>free</p>
  <% else %>
    <%= @offer.price %>
  <% end %>
</div>


<%= cl_image_tag @offer.photo, height: 300, width: 400, crop: :fill %>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


<%= link_to "Back to offers", offer_index_path %>
